@font-face
  font-family 'Ubuntu'
  src url('../type/Ubuntu-Regular.ttf') format('ttf'), url('../type/Ubuntu-Regular.ttf') format('ttf'), url('../type/Ubuntu-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Ubuntu'
  src: url('../type/Ubuntu-Medium.ttf') format('ttf'), url('../type/Ubuntu-Medium.ttf') format('ttf'), url('../type/Ubuntu-Medium.ttf') format('truetype')
  font-weight 600
  font-style normal
